#today{
  background-color: #999;
  padding-left:30px;
}

#today h3, img{
  margin-top: auto;
  margin-bottom: auto;
  float: left;
}

.forecast-col {
  background-color: lightblue;
  margin-left: 18px;
}